Source: ros-hydro-jsk-model-tools
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/jsk_model_tools
Standards-Version: 3.9.2

Package: ros-hydro-jsk-model-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-eus-assimp, ros-hydro-euscollada
Description: Metapackage that contains model_tools package for jsk-ros-pkg
